# Dependencias
node_modules/

# Temporales y salida de Astro
.astro/
dist/

# Logs de errores de paquetes
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos ocultos del sistema
.DS_Store
Thumbs.db
