---
// index.astro - ¡Tu búnker local!
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Fears of Ripley | Local Mode</title>
  </head>
  <body class="bg-black text-red-600 flex min-h-screen flex-col items-center justify-center font-sans">
    <h1 class="text-5xl font-black tracking-wider uppercase">FEARS OF RIPLEY - MITO - JAR</h1>
    <p class="text-gray-400 mt-2">Corriendo en local. El búnker está encendido.</p>
  </body>
</html>